html{
    background-color: transparent;
}    

#header{
  display: none;
}

#logo{
    display: none;
  }

.wufoo input.text{
    width:100%;
    padding: 20px;
    margin: 8px 0;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
}

.wufoo ul{
  list-style: none;
}

.wufoo label.desc{
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px !important;
}

.wufoo legend{
  display: none;
}

.wufoo li.focused{
    background-color: #fff !important;
}

#saveForm {
  width: 100%;
  background-color: #0069b4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#saveForm:hover {
  background-color: #46a8eb;
}